BlogManagement/BlogManagementClient/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/Service1?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/Service1?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/Service1?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BlogManagement" />
      <xsd:import schemaLocation="http://localhost:8080/Service1?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddBlog_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBlog" />
  </wsdl:message>
  <wsdl:message name="IService1_AddBlog_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBlogResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateBlog_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBlog" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateBlog_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBlogResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateBlog_MyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/BlogManagement" name="detail" element="q1:MyException" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBlog_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBlog" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBlog_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBlogResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBlog_MyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/BlogManagement" name="detail" element="q2:MyException" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBlog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBlog" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBlog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBlogResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBlog_MyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/BlogManagement" name="detail" element="q3:MyException" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllBlog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBlog" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllBlog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBlogResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBlog">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddBlog" message="tns:IService1_AddBlog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddBlogResponse" message="tns:IService1_AddBlog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBlog">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateBlog" message="tns:IService1_UpdateBlog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateBlogResponse" message="tns:IService1_UpdateBlog_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/UpdateBlogMyExceptionFault" name="MyExceptionFault" message="tns:IService1_UpdateBlog_MyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBlog">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteBlog" message="tns:IService1_DeleteBlog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteBlogResponse" message="tns:IService1_DeleteBlog_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/DeleteBlogMyExceptionFault" name="MyExceptionFault" message="tns:IService1_DeleteBlog_MyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBlog">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBlog" message="tns:IService1_GetBlog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBlogResponse" message="tns:IService1_GetBlog_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IService1/GetBlogMyExceptionFault" name="MyExceptionFault" message="tns:IService1_GetBlog_MyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBlog">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllBlog" message="tns:IService1_GetAllBlog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllBlogResponse" message="tns:IService1_GetAllBlog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBlog">
      <soap:operation soapAction="http://tempuri.org/IService1/AddBlog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBlog">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateBlog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MyExceptionFault">
        <soap:fault use="literal" name="MyExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteBlog">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteBlog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MyExceptionFault">
        <soap:fault use="literal" name="MyExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBlog">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBlog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MyExceptionFault">
        <soap:fault use="literal" name="MyExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllBlog">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllBlog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8080/Service1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>